@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.stopwatch {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 10px auto;
  background: linear-gradient(to bottom, #0c3d69 20%, #116c97 95%);
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.clock {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 136px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: "Share Tech Mono", sans-serif;
  font-size: 2rem;
}
.stop-watch-btn {
  display: flex;
  justify-content: space-between;
}
.stop-watch-btn .fas {
  font-size: 25px;
  cursor: pointer;
}

.lap-btn {
  background-color: #0c3d69;
  color: gray;
}
.lap-display {
  position: absolute;
  top: 195px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  margin: 0px 30%;
  opacity: 0.7;
}
.lap-display::-webkit-scrollbar {
  display: none;
}

